.game-board{
    width: 600px;
    height: 600px;
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid #100f0f;
}

.game-title{
    text-align: center;
}

.game-board-item{
    width: 145px;
    height: 145px;
    background-color: violet;
    margin: auto;
    text-align: center;
    line-height: 145px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.active{
    background-color: #6c3d6c;
}